<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>メイン画面</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

  <script>
    let user_name = $.cookie("USER")||"None";
  </script>
</head>
<body>
  <div>
    <h1>メイン画面</h1>
  </div>

  <div>
    <p id="username"></p>
  </div>

  <!-- 入力にエラーがあればここにメッセージが返される -->
  {% if roomlist is not None %}
  {% for rooms in roomlist %}
  <p><a href="{% url 'mychat:chat' id=rooms.id %}"><button type="submit">ルーム：{{rooms.name}}</button></a></p>
  {% endfor %}
  {% endif %}

  <p><a href="{% url 'mychat:logout' %}">ログアウト</a></p>
  <p><a href="{% url 'mychat:createroom' %}">新規ルーム登録</a></p>

  <div>
    <h2>チャレンジ課題</h2>
  </div>
  <p><a href="{% url 'mychat:deleteroom' %}">ルーム削除</a></p>
  <p>※現段階で一度にひとつのルームしか削除できない</p>

  <p><a href="{% url 'mychat:deleteuser' %}">ユーザ削除</a></p>
  <p>※現段階で一度にひとつのユーザしか削除できない</p>
  <p>※ログイン中のユーザでも削除できる</p>

  <script>
    document.getElementById("username").innerHTML = "ユーザ名：" + user_name;
  </script>

</body>
</html>